[defaults]
inventory = inventory/hosts.yml
# print time it took for tasks to finish
callbacks_enabled=ansible.posix.profile_tasks
# cache facts for single run
gathering = smart
fact_caching_timeout = 3600
# don't spam me about the system python I don't care
interpreter_python = auto_silent
# nicer output
callback_result_format = yaml

[ssh_connection]
pipelining = true
