#main-window #TabsToolbar {
    height: 29px !important;
    overflow: hidden;
    transition: height 0.3s 0.3s !important;
}

#main-window[titlepreface*="[Sidebery]"] #TabsToolbar {
    height: 0 !important;
}

#main-window[titlepreface*="[Sidebery]"] #tabbrowser-tabs {
    z-index: 0 !important;
}
